extends default

block content
    div.container
        header
            h1 #{placeholder}
        section
            h1 .main content
        article
            h1 .sidebar
        aside.t1
            h1 .twin
        aside.t2
            h1 .twin
        footer
            h1 #{placeholder2}