doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/css/exercise3.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        main
            block header
                h1 Exercises
            block content
                div.container
                    header
                        h3 Header
                    section
                        h3 .sidebar
                    aside
                        h1 Welcome
                        p Hi!!
                    footer
                        h3 Footer