doctype html
html
    head
        title #{title}
        link(rel='stylesheet', href='/css/exercise2.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        main
            block header
                h1 Exercises
            block content
                div.container
                    header
                        h1 #{placeholder}
                    section
                        h1 two
                    article
                        h1 tree
                    aside
                        h1 four
                    footer
                        h1 five